.khan__buy-link {
  width: 230px;
  height: 45px;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.2;
  transition: 3s;
}